/* Estilo del contenedor de la tabla */
.table-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en varias filas si es necesario */
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    height: 90vh;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

/* Estilo para las columnas */
.column-t {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.5); /* Verde medio transparente */
    border-radius: 10px;
    padding: 5px;
    margin: 0px 10px; /* Añadir espacio entre las columnas */
    flex-grow: 1; /* Permite que las columnas crezcan en el espacio disponible */
    min-width: 150px; /* Mantiene un ancho mínimo para las columnas */
}

/* Mover título hacia arriba */
#table-tournament h2 {
    text-align: center;
    margin-bottom: 10px; /* espacio entre el título y la tabla */
}

/* Botones con tamaño fijo */
.button-t-blue,
.button-t-red {
    padding: 12px;
    height: 90px;
    width: 200px;
    background-color: #2980b9;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

    .button-t-blue:hover {
        background-color: #1c6ea4;
        transform: scale(1.05);
    }

    .button-t-blue:focus {
        outline: none;
    }

.button-t-red {
    background-color: #e74c3c;
}

    .button-t-red:hover {
        background-color: #c0392b;
        transform: scale(1.05);
    }

    .button-t-red:focus {
        outline: none;
    }

.button-t-secondary {
    padding: 12px;
    background-color: #8e44ad;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .button-t-secondary:hover {
        background-color: #732d91;
    }

    .button-t-secondary:focus {
        outline: none;
    }
